/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #f8f8f8;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	width: 50%;
}

/* The Close Button */
.close {
	background-color: #f8f8f8;
	position: absolute;
	width: 100vw;
	height: 100vh;
}

.close:hover, .close:focus {
	color: #999;
	cursor: crosshair;
}

.mySlides { display: none; }

.cursor { cursor: pointer; }

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0px 3px 3px 0px;
	user-select: none;
	-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0px 0px 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
	background-color: #000;
	color: #fff;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.text {
	text-transform:uppercase;
	text-align:center;
	font-weight:600;
	background-color:#f8f8f8;
	padding:20px 16px;
	color:#000;
}

.demo { opacity: 0.6; }

.active, .demo:hover { opacity: 1; }

img.hover-shadow { transition: 0.3s; }

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 #000, 0 6px 20px #000;
}